/*
 * @Author: Chin Jiaqing
 * @Date: 2023-04-05 13:17:06
 * @LastEditTime: 2023-04-05 14:26:58
 * @LastEditors: Chin Jiaqing
 * @Description: common css
 */
:root {
	--color-primary: #00b96b;
	--color-bg:rgba(0, 185, 107,.7);
	--color-error:#EA5455;
	--color-warning:orange;
}
@font-face {
	font-family: "LXGW WenKai";
	src: url(../font/LXGWWenKaiGBScreen.ttf);
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "LXGW WenKai", sans-serif;
	font-size: 10pt;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
	color: #262626;
	min-height: 100vh;
	width: 100vw;
	background-image: linear-gradient(90deg,rgba(159,219,252,.15) 3%,transparent 0),linear-gradient(1turn,rgba(159,219,252,.15) 3%,transparent 0);
    background-size: 20px 20px;
    background-position: 50%;
}
.flex {
	display: flex;
	align-items: center;
}
.flex-center {
	justify-content: center;
}
.flex-between {
	justify-content: space-between;
}
.flex-column {
	flex-direction: column;
	align-items: unset;
}
.flex-y-start{
	// justify-content: flex-start;
	align-items: flex-start;
}
.flex-x-end{
	justify-content: flex-end;
}
.relative {
	position: relative;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 980px;
}

a {
	color: var(--color-primary);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.btn {
	--border-color: transparent;
	--bg-color: var(--color-primary);
	--text-color: #fff;
	cursor: pointer;
	font-size: 13px;
	padding: 2px 10px;
	border-radius: 5px;
	border: 1px solid;
	border-color: var(--border-color);
	background-color: var(--bg-color);
	color: var(--text-color);
	text-decoration: none;
	&.hole {
		--bg-color: transparent;
		--text-color: var(--color-primary);
		--border-color: var(--color-primary);
		&:hover {
			--border-color: transparent;
			--bg-color: var(--color-primary);
			--text-color: #fff;
		}
	}
	&.link {
		--border-color: transparent;
	}
	&:hover {
		text-decoration: none;
	}
}



::-webkit-scrollbar {
	width: 4px;
}